body {
    background-color: #2C3E50; 
    font-family: Arial, Helvetica, sans-serif;
    color: #ECF0F1; 
}
h1 {
    color: #ECF0F1; 
    text-align: center;
    width: 100%;
    display: block;
}

h1:hover {
    color: #3498DB; 
}

p {
    text-align: center;
    color: #ECF0F1; 
}

.assignments-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.assignment {
    background-color: #34495E; 
    margin: 10px;
    padding: 10px;
    border-radius: 20px; 
    width: 20%; 
    box-shadow: 8px 8px #333333; 
    display: block; 
}
.assignment img {
    width: 200px;
    margin: 10px;
    border: 2px solid #95A5A6;
}
.assignment img:hover {
    border: 2px solid #3498DB;
}

a {
    text-decoration: none;
    color: #2980B9;
}

a:hover {
    color: #3498DB;
}
.ass-details {
    text-align: center;
    color: #ECF0F1; 
}
