body {
    background-color:lightgray;
    font-family: Arial, Helvetica, sans-serif;
}

.assignment {
    display: flex;
    margin: 10px;
    padding: 10px;
    background-color: dimgrey;
}

.assignment img {
    width: 200px;
    padding: 10px;
    
}

h1 {
    color:dimgray;
    text-align: center;
}